# Exemple de fichier .env pour le projet OHM-FLOWv2
# Renomme ce fichier en .env une fois cloné et remplis les variables avec tes propres valeurs

# Définir l'environnement Flask (development, testing, production)
FLASK_ENV=production

# Clé secrète utilisée par le serveur (doit être longue et sécurisée pour le cryptage)
SECRET_KEY=TA_CLEF_SECRETE_TRES_LONGUE_ET_SECURISEE
